<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Welcome to ReplyAll! </h1>
            <p>  </p>
            <p>
                <a class="btn btn-primary btn-lrg" href="/posts/new"> Create a New Post </a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% posts.forEach(function(camp) { %>
            <div class="col-md-3 col-sm-6">
                <!-- <div class="thumbnail">
                    <img style="width: 500px" src=" <%= camp.image %> ">
                </div> -->
                <a style="color: black; text-decoration: none" href="/posts/<%= camp._id %>"> 
                    <div class="caption"> 
                        <h4> <%= camp.name %> </h4> 
                    </div>
                </a>
                <p>
                    <a style="width: 100%" href="/posts/<%= camp._id %>" class="btn btn-primary"> View </a>
                </p>
            </div>
        <% }); %>
    </div>

</div>

<% include ../partials/footer %>
